annotated-types
anyio
certifi
cffi
charset-normalizer
colorama
cryptography
distro
filetype
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
jsonpatch
jsonpointer
langchain-core
langchain-google-genai
langchain-protocol
langsmith  
orjson
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyMuPDF
pyparsing
pypdf
python-dotenv
PyYAML
pymongo
requests
requests-toolbelt
sniffio
tenacity
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uuid_utils
websockets
xxhash
zstandard 
fastapi
uvicorn
python-multipart
pymongo
pyjwt
